{% extends 'mining/base.html' %}

{% block content %}

<!-- //banner -->
	<div class="welcome">
		<div class="welcome-left">
			<h3>Hello and welcome!</h3>
			<h4>Meet the largest Exporter in middle East!</h4>
			<p>Egypt Limestone is one of the leading exporter of limestone , calcium carbonate powder as industrial mineral products located in Egypt.
				Driven by mutual passion for excellence, we support our customers in facing a multitude of challenges and offer them various tailor-made solutions.
				Egypt Limestone offers varius range of Calcium Carbonate powder both coated and uncoated with the finest size and Coated Calcium Carbonate.
				The application of our Calcium Carbonate Powder can be used in various industries such as inks, Paper, skimcoat, paint, buiding materials, glass, rubber, chemical and etc.
				We have set Quality Control Lab to monitor on the quality of the final products produced.We always set the highest control parameter in quality control as our reference to meet the customer requirement.
			</p>
		</div>
		<div class="welcome-right">

		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- offer -->
	<div class="welcome offer">
		<div class="welcome-left offer-left">
			<h3>What we offer</h3>
			<p>A highly pure and bright Calcium Carbonate product produced from our limestone quarries in Minia.

			</p>
			<div class="offer-left-list">
				<ul>
					<li><a href="/prdocut/m2">M2 (2mm – 3mm)</a></li>
					<li><a href="/prdocut/m4">M4 (710μ – 2mm)</a></li>
					<li><a href="/prdocut/m6">M6 (500 μ – 1.4 mm)</a></li>
					<li><a href="/prdocut/m7">M7 (≤100 μ)</a></li>
				</ul>
			</div>
			<div class="offer-left-list">
				<ul>
					<li><a href="/prdocut/m9">M9 (100 μ – 400μ)</a></li>
					<li><a href="/prdocut/m10">M10 (≤75μ)</a></li>
					<li><a href="/prdocut/m12">M12 (≤45μ)</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="welcome-right offer-right">

		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //offer -->
	<!--
	<div class="welcome new">
		<div class="welcome-left new-left">
			<h3>What's New</h3>
			<div class="new-grids">
				<div class="new-grid-left">
					<p class="number">09</p>
					<p class="month">JAN</p>
				</div>
				<div class="new-grid-right">
					<p>Lorem ipsum dolor sit amet, consec tetuer adi piscing elit. Praesent vestibulum molestie
					lacus. Aenean nonummy hendrerit mauris consec tetuer adi piscing elit. Praesent vestibulum
					molestie lacus.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="new-grids">
				<div class="new-grid-left">
					<p class="number">23</p>
					<p class="month">MAR</p>
				</div>
				<div class="new-grid-right">
					<p>Lorem ipsum dolor sit amet, consec tetuer adi piscing elit. Praesent vestibulum molestie
					lacus. Aenean nonummy hendrerit mauris consec tetuer adi piscing elit. Praesent vestibulum
					molestie lacus.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="welcome-right new-right">

		</div>
		<div class="clearfix"> </div>
	</div>

	<div class="projects">

		<div class="container">
			<div class="projects-info">
				<h3>Our Projects</h3>
			</div>
			<div class="projects-grids">
				<div class="col-md-4 projects-grid">
					<img src="images/5.jpg" alt="" />
					<div class="projects-text">
						<p>March 09</p>
					</div>
				</div>
				<div class="col-md-4  projects-grid">
					<img src="images/6.jpg" alt="" />
					<div class="projects-text">
						<p>June 24</p>
					</div>
				</div>
				<div class="col-md-4 projects-grid">
					<img src="images/7.jpg" alt="" />
					<div class="projects-text">
						<p>April 09</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	</div>

	<div class="testimonial">

		<div class="container">
			<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider2").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });

						});
					</script>
					<div  id="top" class="callbacks_container">
						<ul class="rslides" id="slider2">
							<li>
								<div class="testimonial-grids">
									<div class="testimonial-left">
										<img src="images/t1.jpg" alt="" />
									</div>
									<div class="testimonial-right">
										<h5>Mary Wilson</h5>
										<p><span>"</span> Lorem ipsum dolor sit amet consec tetuer adi piscing elit Praesent vestibulum
											molestie lacus consec tetuer adi piscing elit Praesent vestibulum molestie lacus <span>"</span>
										</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
							<li>
								<div class="testimonial-grids">
									<div class="testimonial-left">
										<img src="images/t3.jpg" alt="" />
									</div>
									<div class="testimonial-right">
										<h5>David Smith</h5>
										<p><span>"</span> Lorem ipsum dolor sit amet consec tetuer adi piscing elit Praesent vestibulum
											molestie lacus consec tetuer adi piscing elit Praesent vestibulum molestie lacus <span>"</span>
										</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
							<li>
								<div class="testimonial-grids">
									<div class="testimonial-left">
										<img src="images/t2.jpg" alt="" />
									</div>
									<div class="testimonial-right">
										<h5>Lora  Alance</h5>
										<p><span>"</span> Lorem ipsum dolor sit amet consec tetuer adi piscing elit Praesent vestibulum
											molestie lacus consec tetuer adi piscing elit Praesent vestibulum molestie lacus <span>"</span>
										</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</li>
						</ul>
					</div>
		</div>
		<!-- //container -->
	</div>
  -->
{% endblock %}