 {% extends 'mining/base.html' %}

{% block content %}


 	<div class="welcome offer">
		<div class="welcome-left offer-left">
			<h3>What we offer</h3>
			<p>A highly pure and bright Calcium Carbonate product produced from our limestone quarries in Minia.

			</p>
			<div class="offer-left-list">
				<ul>
					<li><a href="/prdocut/m2">M2 (2mm – 3mm)</a></li>
					<li><a href="/prdocut/m4">M4 (710μ – 2mm)</a></li>
					<li><a href="/prdocut/m6">M6 (500 μ – 1.4 mm)</a></li>
					<li><a href="/prdocut/m7">M7 (≤100 μ)</a></li>
				</ul>
			</div>
			<div class="offer-left-list">
				<ul>
					<li><a href="/prdocut/m9">M9 (100 μ – 400μ)</a></li>
					<li><a href="/prdocut/m10">M10 (≤75μ)</a></li>
					<li><a href="/prdocut/m12">M12 (≤45μ)</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="welcome-right offer-right">

		</div>
		<div class="clearfix"> </div>
	</div>
{% endblock %}
