{% extends 'mining/base.html' %}
{% block content %}

	<!-- services -->
	<div class="services">
		<div class="services-top">
			<div class="services-info">
				<h3>{{ product | title}}</h3>
				<p>is a highly pure and bright Calcium Carbonate product produced from our limestone quarries in Minia.
						 </p>
			</div>
			<div class="welcome {{ product }}">
				<div class="welcome-left offer-left services-left">


					<h3>{{ product | title }} Physical Characteristics</h3>

					<table class="table table-striped">
              <thead>
                <tr>
                  <th> </th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Density</td>
                  <td>{{ product.density}}</td>
                </tr>
                <tr>
                  <td>Refractive index</td>
                  <td>{{ product.refractive}}</td>
                </tr>
                <tr>
                  <td>pH value</td>
                  <td>{{ product.phvalue}}</td>
                </tr>
			  <tr>
                  <td>Bulk density</td>
                  <td>{{ product.bulkdensity}}</td>
                </tr>
			  <tr>
                  <td>Hardness</td>
                  <td>{{ product.hardness}}</td>
                </tr>
			    <tr>
                  <td>Moisture</td>
                  <td>{{ product.moisture}}</td>
                </tr>
              </tbody>
            </table>



				</div>
				<div class="welcome-right services-right">

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="welcome new {{ product }}">
				<div class="welcome-left new-left services-left">
					<h3>{{ product.name | title }} Chemical Analysis</h3>



<table class="table table-striped">
              <thead>
                <tr>
                  <th> </th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CaCO3</td>
                  <td>{{ product.cacO3}}</td>
                </tr>
                <tr>
                  <td>CaO</td>
                  <td>{{ product.caO}}</td>
                </tr>
                <tr>
                  <td>MgO</td>
                  <td>{{ product.mgO}}</td>
                </tr>
			  <tr>
                  <td>Fe2O3</td>
                  <td>{{ product.fe2O3}}</td>
                </tr>
			  <tr>
                  <td>Al2O3</td>
                  <td>{{ product.al2O3}}</td>
                </tr>
			    <tr>
                  <td>SiO2</td>
                  <td>{{ product.SiO2}}</td>
                </tr>
			   <tr>
                  <td>L.O.I</td>
                  <td>{{ product.loi}}</td>
                </tr>

              </tbody>
            </table>

					<h4>Grain size specs</h4>
 				{{ product.grainsize  | safe }}


					<br/>

					The data in the Technical Data Sheet represents average values which are valid and reliable but not legally binding.
MCC will not be liable for any use of data, or any damages arising from the use of products for purposes not
examined in detail.
					</p>
				</div>
				<div class="welcome-right new-{{ product }} services-right-img">

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	</div>
	<!-- //services -->

{% endblock %}
